/*
==UserCSS==
@name             Hide aliexpress crap
@match            https://*.aliexpress.com/*
@version          1.2
==/UserCSS==
*/
/* hide Aliexpress advertisement and distraction */
.index-page .common-floor,
div.image-poplayer-modal,
div.drogue-poplayer-modal,
#header-float-banner,
#smartbanner-main,
#home-firstscreen,
div[data-spm="search_ranking"],
.hm-left-store .header-categories,
div[class*="appScan--container"],
.pdp-store-menu-wrap,
.index-page .hm-right,
#top-lighthouse .ng-seller-wrap,
#top-lighthouse .ng-help-wrap,
a[href*="//m.aliexpress.com/category.html?categoryTab="],
a[href*="https://star.aliexpress.com/"],
.drogue-poplayer-modal,
.site-server-box,
img[class*="qrCode"],
div[id*="-banner-"],
div[id*="_banner_"],
div[id*="-sale-"],
div[id*="super-deals"],
div[id*="-new-mall"],
div[class*="-sale-module-"],
div[id*="-sd-combination-"],
div[id*="-diamond-"],
div[id*="-choice-combination-"],
div[data-type="product-list-v3"],
div[data-type="y2023-nn"] {
  display: none;
}

.index-page #top-lighthouse {
  display: block;
}

/* display more of the item description */
iframe[class^="overview--iframe--"] {
  height: 2000px !important;
  overflow: auto !important;
}
