/*
==UserCSS==
@name             AliExpress hide crap
@match            https://*.aliexpress.com/*
@version          1.4
==/UserCSS==
*/
/* hide Aliexpress advertisement and distraction */
.faas-home-page div[style="display: block; z-index: 1000000;"],
.index-page .common-floor,
div.image-poplayer-modal,
html body div div.drogue-poplayer-modal,
div.image-poplayer-modal,
div[class^="down-load-app--menuItem"],
#header-float-banner,
#smartbanner-main,
#home-firstscreen,
div[data-spm="search_ranking"],
.hm-left-store .header-categories,
div[class*="appScan--container"],
.pdp-store-menu-wrap,
.index-page .hm-right,
#top-lighthouse .ng-seller-wrap,
#top-lighthouse .ng-help-wrap,
a[href*="//m.aliexpress.com/category.html?categoryTab="],
a[href*="https://star.aliexpress.com/"],
.site-server-box,
img[class*="qrCode"],
div[id*="-banner-"],
div[id*="_banner_"],
div[id*="-sale-"],
div[id*="super-deals"],
div[id*="-new-mall"],
div[class*="-sale-module-"],
div[id*="-sd-combination-"],
div[id*="-diamond-"],
div[id*="-choice-combination-"],
div[data-type="product-list-v3"],
div[data-type="y2023-nn"] {
  display: none !important;
}

.index-page #top-lighthouse {
  display: block;
}

/* display more of the item description */
iframe[class^="overview--iframe--"] {
  height: 2000px !important;
  overflow: auto !important;
}

/* make yellow stars */
.ae-stars-box {
  filter: grayscale(100%) invert(100%) sepia(100%) saturate(1000%) brightness(80%)
}
div[class^="multi--starList--"] img[class^="multi--star--"] {
  filter: invert(100%); /* only because of the dark mode filter */
}
div[class^="multi--starList--"] div[class^="multi--progress--"] {
  background-color: #c8c800 !important;
}
div[class^="rating--wrap--"] {
  filter: grayscale(100%) sepia(100%) saturate(1000%) brightness(80%)
}
